<div class="loading-indicator opacity-0 transition-opacity duration-200 fixed h-full w-full flex items-center justify-center">
  <div class="w-8 h-8 border-3 border-r-transparent border-b-transparent border-black rounded-[100px] animate-loading"></div>
</div>