<a
  href="#main-content"
  class="absolute top-xs -left-full h-px w-px overflow-hidden opacity-0 focus:left-xs focus:top-xs focus:z-[10000] focus:h-auto focus:w-auto focus:overflow-visible focus:opacity-100 focus:px-xs focus:py-3xs focus:type-body-mono focus:text-white focus:no-underline focus:outline-none focus:bg-black focus:border focus:border-white focus:rounded-[5px] focus:shadow-lg"
>Skip to content</a>
